@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using TestDotNetWebApplication.ViewModels
@model StudentTeacherViewModel

@{
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<h3>Add New Student</h3>
<form class="form form-horizontal" method="post">
    <div class="form-group">
        <img src="https://image.ibb.co/iKfYKx/computer.jpg"/>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <label>Name:</label>
            <input type="text" class="form-controller" asp-for="Student.Name"/>
            <span asp-validation-for="Student.Name"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <label>Age:</label>
            <input type="text" class="form-controller" asp-for="Student.Age" />
            <span asp-validation-for="Student.Age"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <label>Country:</label>
            <input type="text" class="form-controller" asp-for="Student.Country" />
            <span asp-validation-for="Student.Country"></span>
        </div>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

<hr />

<h3>Our Teachers</h3>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Class</th>
        </tr>
    </thead>
    <tbody>
            @foreach(var teacher in Model.Teachers)
            {
                <tr>
                    <td>@teacher.Name</td>
                    <td>@teacher.Class</td>
                </tr>
            }
        </tbody>
</table>
}
